<div class="dashboard-container">
  <aside class="sidebar">
    <div class="logo">
      <img src="logo.png" alt="logo" class="logo-icon" />
      <h2>TaskFlow</h2>
    </div>
<button class="blue-button"> + Nouveau projet</button>
    <div class="sidebar-footer">
      <div class="user-profile">
        <div class="avatar">{{ userFirstName() | titlecase | slice: 0 : 1 }} {{ userLastName() | titlecase | slice: 0 :
          1 }}</div>
        <div class="user-info">
          <span class="user-name">{{ userFirstName() | titlecase }} {{ userLastName() | titlecase }}</span>
        </div>
      </div>
    </div>
  </aside>

  <main class="main-content">
    <!-- HEADER -->
    <header class="header">
      <div class="header-left">
        <h1>Bonjour, {{ userFirstName() | titlecase }}</h1>
        <p class="date">{{ today | date: 'fullDate' }}</p>
      </div>

      <div class="header-right">
        <div class="search-box">
          <img src="search.png" alt="" class="search-logo">
          <input type="search" placeholder="Rechercher une tâche..." [formControl]="searchInput" />
        </div>
        <button type="button" class="btn-logout" (click)="signOut()">Déconnexion</button>
      </div>
    </header>

    <section class="stats-container">
      <div class="stat-card">
        <img src="total.png" alt="" class="stat-icon">
        <div class="stat-info">
          <span class="stat-number">{{ totalTasks() }}</span>
          <span class="stat-label">Total Tâches</span>
        </div>
      </div>
      <div class="stat-card">
        <img src="on-going.png" alt="" class="stat-icon">
        <div class="stat-info">
          <span class="stat-number">{{ ongoingTasks() }}</span>
          <span class="stat-label">En Cours</span>
        </div>
      </div>
      <div class="stat-card">
        <img src="complete.png" alt="logo tâches complétées" class="stat-icon">
        <div class="stat-info">
          <span class="stat-number">{{ completedTasks() }}</span>
          <span class="stat-label">Complétées</span>
        </div>
      </div>
    </section>

    <section class="add-task-section">
      <form [formGroup]="createTaskForm" class="add-task-form">
        <input type="text" placeholder="Ajouter une nouvelle tâche..." class="task-input" formControlName="name" />
        <select name="" id="" class="select-priority" formControlName="priority">
          @for (priority of priorities; track priority.label) {
            <option [value]="priority.value">{{ priority.label }}</option>
          }
        </select>
        <button type="button" class="btn-blue" (click)="onSubmitNewTask()">+ Ajouter</button>
      </form>
    </section>

    <section class="tasks-section">
      <div class="tasks-header">
        <h2>Mes Tâches</h2>
      </div>

      <div class="tasks-list">
        @for (item of tasks(); track item.id) {
        <div class="task-item">
          <label class="checkbox-container">
            <input type="checkbox" [checked]="item.is_done" (change)="updateCheckbox(item)" />
            <span class="checkmark"></span>
          </label>
          <div class="task-content">
            <h3 class="task-title" [class.taskIsDone]="item.is_done === true">
              {{ item.description }}
            </h3>

          </div>


			<span hlmBadge class="bg-green-200 text-green-400 dark:bg-green-800 dark:text-green-200">Faible</span>
          <div class="task-actions">
            <hlm-dialog>
              <button hlmDialogTrigger hlmBtn class="btn btn-blue"><img src="modify.png" alt=""
                  class="icon-task"></button>
              <hlm-dialog-content class="sm:max-w-106.25 bg-neutral-800 w-96 modify-radius" *hlmDialogPortal="let ctx">
                <hlm-dialog-footer> </hlm-dialog-footer>

                <form class="flex flex-col gap-4 ">
                  <label for="" class="text-sky-100 text-center">Modifier la tache</label>
                  <input type="text" name="" id="" class="bg-sky-100 task-modified " [formControl]="updateTaskInput" />
                  <button type="submit" hlmBtn class="bg-sky-700" brnDialogClose (click)="OnSubmitUpdatedTask(item.id)"
                    class="btn-blue">
                    Modifier
                  </button>
                </form>
              </hlm-dialog-content>
            </hlm-dialog>
            <button class="btn btn-icon btn-delete" (click)="delete(item.id)"><img src="remove.png" alt=""
                class="icon-task"></button>
          </div>
        </div>
        }
      </div>
    </section>
  </main>
</div>