@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';
@import '@spartan-ng/brain/hlm-tailwind-preset.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
body {
  height: 100%;
  width: 100%;
  font-family: manrope;
  background-color: #f7fafc;
}

:root {
  --blue-background: #8fbce3;
  --blue-dark: #d6ecff;
  --text-dark: #08579d;
  --text-light: #5a7a9a;
  --sidebar-bg: #003e6f;
  --shadow: 0 4px 6px -1px rgba(8, 87, 157, 0.15);
  --shadow-lg: 0 10px 15px -3px rgba(8, 87, 157, 0.2);
  /* nouvelles couleurs */

  --dark-blue: #003366;
  --light-blue: #003e6f;
  --blue-text: #08579d;
  --light-blue-text: #5a7a9a;
  --blue-hover: #1867a3;
  --white: #f7fafc;
  --black: #181c1e;
  --border-radius: 10px;
}

/* les inputs */
input {
  border: none;
  background-color: var(--blue-dark);
}
input:focus {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--blue-dark) inset !important;

  -webkit-text-fill-color: var(--blue-text) !important;

  transition: background-color 5000s ease-in-out 0s;
}

input:autofill {
  box-shadow: 0 0 0px 1000px var(--blue-dark) inset !important;
  -webkit-text-fill-color: var(--blue-text) !important;
}
/* les boutons */
button {
  border-radius: 10px;
  border: none;
}
button:active {
  transform: scale(0.98);
}

.button-blue {
  padding: 14px 28px;
  background-color: var(--blue-text);
  color: var(--white);
  white-space: nowrap;
}

.button-blue:hover {
  cursor: pointer;
  background-color: var(--blue-hover);
}

/* les couleurs texte */
.blue-text {
  color: var(--blue-text);
}
.light-blue-text {
  color: var(--light-blue-text);
}

/* les liens */
 a {
  color: var(--blue-text);
  text-align: center;
  transition: opacity 0.2s ease;
   font-weight: 600;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;

}

/* Session authentification et inscription */
.forgot-password { font-size: 12px;}

p, a, label { font-size: 12px;}